/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styling Class */

.operatoren {
    height: 20vh;
    display: flex;
    justify-content: center;
}

.operatoren div {
    background-color: #113f67;
    min-width: 25vw;
    border: 1px solid black;
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers {
    background-color: #dbd8e3;
    flex-wrap: wrap;
    height: 70vh;
    display: flex;
}

.numbers div {
    min-width: 25vw;
    max-height: 17.5vh;
    border: 1px solid black;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a2a8d3;
    color: white;
}

/* Styling IDs */

#result {
    background-color: black;
    height: 7vh;
    color: white;
    font-size: 3.5rem;
    text-align: right;
    opacity: 0.7;
}

#history {
    background-color: black;
    color: grey;
    opacity: 0.7;
    height: 3vh;
    text-align: right;
}

#getResult, #c {
    background-color: #083358;
    color: white;
}